/* browser reset code*/
@forward "./base/index";
@use "./util/index" as var;

h1 {
  color: var.$header-bg;
}

@mixin para-style {
  font-size: 16px;
  text-align: justify;
  color: red;
}
@mixin head($size, $style) {
  font-size: $size;
  text-align: $style;
  color: orange;
}
section {
  p {
    @include para-style;
  }
  h2 {
    @include head(25px, left);
  }
}
