/* browser reset code*/
@forward "./base/index";
@use "./util/index" as var;

h1 {
  color: var.$header-bg;
}

@mixin para-style {
  font-size: 16px;
  text-align: justify;
  color: red;
}
@mixin head($size, $style) {
  font-size: $size;
  text-align: $style;
  color: orange;
}
@mixin setFontSize($value) {
  @if $value == small {
    font-size: 12px;
  } @else if $value == medium {
    font-size: 16px;
  } @else if $value == large {
    font-size: 20px;
  } @else {
    font-size: none;
  }
}

.btn {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(88, 88, 255);
  color: white;
}
.btn-download {
  @extend .btn;
  border-radius: 5px;
  @include setFontSize(large);
}
section {
  p {
    @include para-style;
  }
  h2 {
    @include head(25px, left);
  }
}
